<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>
  <%= text_field_tag :search, "", class: "search_products" %>
<table id="products_list">
<thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Type</th>
    <th colspan="3"></th>
  </tr>
</thead>

<tbody>
  <% if @products.present? %>
  <% @products.each do |product| %>
    <tr>
      <% presenter = ProductPresenter.new(product) %>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.description %></td>
      <td><%= presenter.product_type %></td>
      <td><%= presenter.category %></td>
    </tr>
  <% end %>
  <% else %>
    <tr><td>There are no products.</td></tr>
  <% end %>
</tbody>
</table>


<script type="text/javascript">
     $("#search").keyup(function() {
         $.ajax({
            url: '/list.js',
            datatype: "json",
            data: {search: $(this).val()}
         });
     });
</script>